---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
const pageTitle = "Posts";
---
<Layout pageTitle={pageTitle}>
    <div class="gif">
        <img width="300" height="259" alt="WritingGif" src="/writinggif.webp"/>
    </div>
    <h2>Blog</h2>
    <ul role="list" class="link-card-grid">
        <Card
            url="https://www.overtoperator.com/p/aigeneratedimagesrisks"
            image="/deceptionposts.webp"
            title="The High Stakes Deception of the Digital Age"
            body="Security Risks Posed By AI-Generated Images"
        />
    </ul>
</Layout>
