---
import ThemeIcon from './ThemeIcon.astro';
---
<div class="nav-bar">
    <div class="title-link">
        <a href="/">Portfolio</a>
        <ThemeIcon />
        <!-- Toggle button for the navbar -->
        <button class="toggle-button">Navigation</button>
    </div>
    <div class="nav-links">
        <a href="/projects/">Projects</a>
        <a href="/posts/">Posts</a>
        <a href="/resume/">Resume</a>
        <a href="https://github.com/qepting91" target="_blank">GitHub</a>
    </div>
</div>
<script type="module">
    document.querySelector('.toggle-button').addEventListener('click', () => {
        const navLinks = document.querySelector('.nav-links');
        navLinks.classList.toggle('active');
    });
</script>
<style>
    .nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display: flex;
    gap: 1rem; /* Keep for spacing between links */
    /* Initially hidden on smaller screens */
}

.nav-links.active {
    /* Show when active, and adjust for mobile layout */
    display: flex;
    flex-direction: column; /* Stack links vertically on mobile */
    gap: 0.5rem; /* You might want to adjust the gap for the vertical layout */
}

.toggle-button {
    /* Styles for the toggle button */
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    display: none; /* Initially hidden */
}

@media (max-width: 768px) {
    .toggle-button {
        display: block; /* Show the button on smaller screens */
    }

    .nav-links {
        display: none; /* Ensure navigation links are hidden initially */
    }

    .nav-links.active {
        display: flex;
        flex-direction: column; /* This ensures links are in a column when active */
        align-items: center; /* Optional: Center-align the links for a neater appearance */
    }
}
</style>
